.justify-content-between {
  -ms-flex-pack: justify!important;
  justify-content: space-between!important;
}
.navbar-expand {
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
*, ::after, ::before {
  box-sizing: border-box;
}
nav {
  background-color: #ccc;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.formInput {
  position: relative;
  display: flex;
  align-items: center;
}

.formInput input {
  height: 60px;
  padding: 16px 16px 16px 60px;
  border: none;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
  opacity: .6;
  font-size: 14px;
}
button, input {
  overflow: visible;
}
.inputMarker {
  position: absolute;
  left: 15px;
  font-size: 25px;
  opacity: .6;
}
.fa, .fas {
  font-weight: 900;
}
.fa, .far, .fas {
  font-family: Font Awesome\ 5 Free;
}
.fa, .fab, .fal, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
*, ::after, ::before {
  box-sizing: border-box;
}


.userInfo {
  padding: 15px 0 10px 15px;
  display:flex;
  align-items: center;
  padding-left: 15px;
  background-color: #ccc;
  
}
*, ::after, ::before {
  box-sizing: border-box;
}

.todoListWrapper {
  border-top: 2px solid #e6e6e6;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
}

.todoListWrapperNewmessage{
  border-top: 1px solid #e6e6e6;
  background-color:rgb(28, 230, 245);
  box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  font-weight: bold;

}

.boxcomment{
  height: 60px;
  gap: 40px;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid rgb(197, 197, 197);
}

.boxname{
  padding-right: 0px;
  padding: 10px;
  background-color: aquamarine;
  border-radius: 10%;
}

.boxdelete{
  padding: 10px;
  background-color: rgb(223, 30, 120);
  border-radius: 10%;
}

.boxpost{
  padding: 10px;

}

.userImg{
  padding-right: 5px;
}


